@model IEnumerable<TigerPaws.Models.Product>

@{
    ViewBag.Title = "Our Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<button class="btn btn-primary">
    @Html.ActionLink("Add Product", "Create", "Products", new { @class = "AddProdBtn" })
</button>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <img class="img-thumbnail" style="height:40px" src="~/Content/Images/@item.Image" />
    </td>
    <td>
        @Html.ActionLink(item.Name, "Details", "Products", new { id = item.Id }, null)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Genre.Name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
